.btn-login{
	color: white;
	border:1px solid #343a40;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #424a5d), color-stop(100%, #424a5d) );
	background-color:#424a5d;
}.btn-login:hover {
	color: white;
	border:1px solid #343a40;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #343a40), color-stop(100%, #343a40) );
	background-color:#343a40;
}.btn-login:active {
		color: white;

	border:1px solid black;
	position:relative;
	top:1px;
}
.btn-login.focus,.btn-login:focus{	color: white;box-shadow:0 0 0 .1rem rgba(52,58,64,.5)}
.btn-login.disabled,.btn-login:disabled{background-color:#343a40;border-color:#343a40}
.btn-login:not([disabled]):not(.disabled).active,.btn-login:not([disabled]):not(.disabled):active,.show>.btn-login.dropdown-toggle{color:#fff;background-color:#343a40;border-color:#343a40;box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}

